header{ height: 110px; background: yellowgreen;}
footer{ height: 220px; background: gray;}



#mid{ display: grid; grid-template-columns: 1fr 240px 1180px 1fr; grid-template-rows: 1000px;} 
.blank{ background: skyblue;}
nav{ background:forestgreen;}

table {border-collapse: collapse}
tr { text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; height:63px;}
#content{ display: grid; grid-template-columns: 590px 590px; grid-template-rows: 500px;}
.contentTitle{ 
    margin-top: 10px; margin-bottom: 10px; 
    text-align: center; font-size: 20px; font-weight: bold;
}
.tableContainer {display:grid; grid-template-columns: 1fr 500px 1fr;} 




